.slider {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.banner-text-area {
  position: absolute;
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  bottom: 0;
  left: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slick-dots li button:before {
  color: #fff !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

/* 반응형 */
/* 1024px 이하  */
@media (max-width: 1024px) {
  .banner-text-area h1 {
    font-size: 24px;
  }

  .banner-text-area p {
    font-size: 14px;
  }
}

/* 768px 이하 */
@media (max-width: 768px) {
  .slick-dots {
    display: none !important;
  }

  .banner-text-area {
    width: 100%;
  }

  .banner-text-area h1 {
    font-size: 20px;
  }

  .banner-text-area p {
    display: none;
  }
}
