* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1b;
  font-family: 'Noto Sans KR', sans-serif;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
}

.bg-body-tertiary {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  height: 74px;
  background-color: #1b1b1b !important;
  padding: 0;
  overflow: hidden;
}

.container-fluid {
  padding: 0;
}

.bg-body-tertiary .logo {
  margin-right: 78px;
}

.nav-menu-wrap {
  gap: 20px;
}

.nav-font-style {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #a5a5a5;
  white-space: nowrap;
}

.nav-font-style:hover {
  color: #fff;
}

.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: transparent;
  border: none;
  z-index: 200;
  transition: all 0.3s;
}

.search-button.active {
  right: 250px;
  background-color: transparent;
  border: none;
}

.search-button:hover {
  background-color: transparent;
}

.search-button:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

.search-button:active {
  background-color: transparent !important;
}

.search-form {
  position: absolute;
  width: 250px;
  height: 40px;
  right: -272px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  transition: all 0.3s;
}

.search-form:active {
  outline: none !important;
}

.search-form:focus {
  outline: none !important;
  box-shadow: none !important;
}

.search-form:hover {
  outline: none !important;
}

.search-form.active {
  right: 0;
  border: 1px solid #2f2f2f;
  border-radius: 4px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* 반응형 */
/* 991px 이하일 때 */
@media (max-width: 991px) {
  .d-flex.search-form-group {
    position: relative;
    bottom: -40px;
  }

  .search-button {
    position: relative;
    left: 0;
  }

  .search-button.active {
    left: 0;
  }

  .search-form {
    position: relative;
    left: 0;
  }

  .search-form.active {
    left: 0;
  }
}
